.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  background-color: var(--light-panel-bg-color);
  width: 100%;
  padding: 10px 15px;
}

.links {
  flex: 0 1 10px;
  display: flex;
  gap: 10px;

  @media screen and (max-width: 390px) {
    gap: 5px;
  }

  img {
    width: 40px;
    height: 40px;

    @media screen and (max-width: 390px) {
      width: 30px;
      height: 30px;
    }
  }
}

.year {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

.sprite {
  cursor: pointer;
  display: block;
  background-image: url(../../assets/sprite.png);
  width: 40px;
  height: 40px;
  background-size: 160px, 40px;
  background-repeat: no-repeat;
  &:hover {
    opacity: 0.7;
  }
}

.gmail {
  background-position: 0px 0px;
}

.telegram {
  background-position: -40px 0px;
}
