.tittle {
  text-align: center;
  margin-top: 30px;
}

.text {
  text-align: center;
  width: 70%;
}

.desc {
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 50px;
  @media screen and (max-width: 690px) {
    flex-direction: column;
  }
}

.blockLight {
  background-color: rgb(255 216 29 / 25%);
}

.blockDark {
  background-color: #c8e3ec78;
}

.imgContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat {
  width: 100%;
  height: auto;
}

.animatedHexagon {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 10px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #fac88bc7;
  width: 150px;
  height: 150px;
  animation: Rotate 10s linear infinite;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid var(--light-panel-bg-color);
    animation: Rotate 5s linear infinite;
  }
}

.request {
  position: absolute;
  color: rgb(219, 200, 0);
  animation: Request 4s linear infinite;
}

.response {
  position: absolute;
  right: 10px;
  color: rgb(0, 179, 255);
  animation: Response 5s linear infinite;
}

@keyframes Request {
  0% {
    transform: translate3d(-30%, -100%, 0);
  }
  50% {
    transform: translate3d(50%, 100%, 0);
  }
  70% {
    transform: translate3d(80%, 100%, 0);
  }
  100% {
    transform: translate3d(-30%, -100%, 0);
  }
}

@keyframes Response {
  0% {
    transform: translate3d(10%, 100%, 0);
  }
  50% {
    transform: translate3d(-50%, -100%, 0);
  }
  70% {
    transform: translate3d(-80%, -100%, 0);
  }
  100% {
    transform: translate3d(10%, 100%, 0);
  }
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

//mobile

.mobileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileSection {
  position: relative;
  width: 300px;
  height: 500px;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0);
  transform: rotate(-30deg) skew(25deg) scale(0.8);
  transition: 0.5s;
  cursor: pointer;
  @media screen and (max-width: 690px) {
    width: 170px;
    height: 280px;
  }
}

.mobileSection img {
  position: absolute;
  width: 100%;
  transition: 0.5s;
}

.mobileSection:hover img:nth-child(4) {
  transform: translate(160px, -160px);
  opacity: 1;
}

.mobileSection:hover img:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: 0.8;
}

.mobileSection:hover img:nth-child(2) {
  transform: translate(80px, -80px);
  opacity: 0.6;
}

.mobileSection:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: 0.4;
}

//tech

.gradient {
  background: linear-gradient(90deg, rgba(255, 227, 193, 1) 30%, rgba(240, 251, 255, 1) 70%);
}

.techContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 10px;
}

.hexagon {
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: 100px;
  height: 100px;
  background: #fac88bc7;
  border: 3px solid var(--tittle-text-color);
}

.triangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  background: var(--light-panel-bg-color);
  border: 3px solid var(--tittle-text-color);
}

//contacts

.contactsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.sprite {
  cursor: pointer;
  display: block;
  background-image: url(../../assets/sprite.png);
  width: 70px;
  height: 70px;
  background-size: 280px, 70px;
  background-repeat: no-repeat;
  &:hover {
    opacity: 0.7;
  }
}

.gmail {
  background-position: 0px 0px;
}

.telegram {
  background-position: -70px 0px;
}

.mail {
  background-position: -140px 0px;
}

.github {
  background-position: -212px 0px;
}

.line {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 20px;
  &:before {
    content: '';
    width: 100%;
    height: 10px;
    border-top: 2px solid var(--tittle-text-color);
  }
  &:after {
    content: '';
    width: 100%;
    height: 10px;
    border-top: 2px solid var(--tittle-text-color);
  }
  & span {
    border: 2px solid var(--tittle-text-color);
    border-radius: 10px;
    padding: 5px;
    text-align: center;
  }
}
